*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f8f9fa;
    color: #212529;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-container {
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
}

svg {
    height: 30px;
}

path.c {
    fill: #212529;
}

path.s {
    fill: #d70022;
}

.icon {
    width: 6rem;
    height: 6rem;
    color: #adb5bd;
    margin-bottom: 2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

p {
    font-size: 1.25rem;
    color: #6c757d;
    max-width: 500px;
}

.help-text {
    margin-top: 1rem;
    font-size: 1rem;
    color: #828586;
    max-width: 400px;
}

.button-link {
    display: inline-block;
    margin-top: 2rem;
    padding: .75rem 1.5rem;
    background-color: #d70022;
    color: #fff;
    text-decoration: none;
    border-radius: .375rem;
    font-size: 1.125rem;
    font-weight: 500;
    transition: background-color .2s ease;
}
.button-link:hover {
    background-color: #a30017;
}
